@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --foreground: 0, 0, 0;
    --color-textcolor: 255, 255, 255;
    --color-herbg: 146, 183, 240;
    --color-primary: 0, 182, 255;
  }

  .dark {
    --foreground: 255, 255, 255;
    --color-textcolor: 255, 255, 255;
    --color-herbg: 35, 39, 47;
    --color-primary: 255, 138, 29;
  }
}